{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- PAGE HEADER -->

<section class="page-header team-header text-white text-center p-5">

<div class="container">

<h1 class="display-5 fw-bold">Our Dedicated Team</h1>

<p class="lead">
The people behind 3-24 Services and our digital platforms.
</p>

</div>

</section>


<!-- TEAM SECTION -->

<div class="container mt-5">

<div class="row g-4 justify-content-center">

<!-- TEAM MEMBER 1 -->

<div class="col-md-3">

<div class="card shadow text-center p-4 h-100">

<img src="{% static 'images/courage.jpg' %}" 
class="rounded-circle mb-3 shadow mx-auto d-block"
width="120"
height="120"
style="object-fit:cover;">

<h4>Courage Adawudu</h4>

<p class="text-muted">Founder & Technology Lead</p>

<p>
Developer of EduVoteGH and digital solutions
for institutions and organizations.
</p>

</div>

</div>

<!-- TEAM MEMBER 2 -->

<div class="col-md-3">

<div class="card shadow text-center p-4 h-100">

<img src="{% static 'images/courage1.jpg' %}" 
class="rounded-circle mb-3 shadow mx-auto d-block"
width="120"
height="120"
style="object-fit:cover;">

<h4>Team Member Name</h4>

<p class="text-muted">Founder & Technology Lead</p>

<p>
Developer of EduVoteGH and digital solutions
for institutions and organizations.
</p>

</div>

</div>

<!-- TEAM MEMBER 3-->

<div class="col-md-3">

<div class="card shadow text-center p-4 h-100">

<img src="{% static 'images/team2.jpg' %}" 
class="rounded-circle mb-3 shadow mx-auto d-block"
width="120"
height="120"
style="object-fit:cover;">

<h4>Team Member Name</h4>

<p class="text-muted">Position</p>

<p>
Short description of the role in the company.
</p>

</div>

</div>

<!-- TEAM MEMBER 4 -->

<div class="col-md-3">

<div class="card shadow text-center p-4 h-100">

<img src="{% static 'images/team3.jpg' %}" 
class="rounded-circle mb-3 shadow mx-auto d-block"
width="120"
height="120"
style="object-fit:cover;">

<h4>Team Member Name</h4>

<p class="text-muted">Position</p>

<p>
Short description of the role in the company.
</p>

</div>

</div>

</div>

</div>
{% endblock %}